/* .card{

} */
.imgDiv{
    padding: 30px 50px;
    background-color: #f7f7f7;
}
.product{
    width: fit-content;
    margin: 55px auto;
    display: flex;
    align-items: center;
    border: 1px solid #dddddd;
}
.img{
    width: 200px;
    height: auto;
    /* max-height: 250px; */
}
.card{
    /* margin: 0 25px; */
    /* height: 250px; */
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    padding: 25px;
    
    border-left: none;
}
.card div{
    margin: 3px 0;
}
.proName{
    font-size: 20px;
    font-weight: 500;
}

.proRating{
    color:#fea31c;
    font-size: 15px;
}

.proPrice{
    display: flex;
    font-size: 22px;
    font-weight: 500;
    /* padding-top: 20px; */
    /* text-align: ; */
    /* align-items: flex-end; */
}
.actualPrice{
    font-size: 13px;
    color: grey;
    font-weight: 500;
    margin: 0 4px;
}
.discount{
    font-size: 13px;
}
.dollar{
    font-size: 12px;
    font-weight: lighter;
}

.proPriceContainer{
    display: flex;
    align-items: flex-end;
    /* justify-content: space-evenly; */
}


.proPriceContainer div{
    margin: 0 2px;
}